.denmoku2
  .denmoku2__main
    .denmoku2__main__header
      精密機械につき取り扱い注意!
    .denmoku2__main__center
      .denmoku2__main__center__inner
        .denmoku2__main__center__inner__word
          %h.close-modal TOP
          %h1 TOP ＞ 登録
        .slide-modal.prev-btn 前へ
        .slide-modal.next-btn 次へ
        %ul
          %li.slide.active 
            .denmoku-inner
              %p RIPSとはカラオケ好きのあなたへお送りするレパートリー管理アプリです
          %li.slide
            .denmoku-inner
              %p 自分の歌える曲を登録して、レパートリーを管理しよう
          %li.slide 
            .denmoku-inner
              %p さあ使ってみよう！
    .denmoku2__main__footer-upper
      %h.close-modal 戻る
    .denmoku2__main__footer-under
      %h REPS
