@mixin border-bottom{
  position: relative;
  transition :0.1s all;
  padding:5px 5px;
  text-align: right;
  overflow: hidden;
  margin:0 10px;
}
@mixin border-bottom-action{
  content:"";
  width:100%;
  position:absolute;
  border-bottom:5px solid orange;
  bottom:0;
  left:350px;
  transition:0.4s all;
  border-radius:40%;
}

.index{
  &__header{
    display: inline-block;
    width:100%;
    border-bottom:7px solid orange;
    h{
      font-size:40px;
      font-weight: 600;
      float:left;
      margin-left: 60px;
      font-family: Comic Sans MS;
    }
    ul{
      text-align: right;
      margin:10px 60px 0 0; 
      li{
        list-style: none;
        display:inline-block;
        font-size:18px;
        font-weight: 600;
        cursor: pointer;
        a{
          color:black;
          text-decoration: none;
        }
      }
    }
  }
  &__image{
    background-image:url("IMG_1716.jpeg"); 
    background-size: contain;
    height:300px;
      h{
        font-size:100px;
        color:white;
        font-family:cursive;
      }
      &__sentence{
        text-align:center;
        margin-top:40px;
        p{
          font-size:20px;
          color:white;
          cursor: pointer;
          border:1px solid white;
          display: inline-block;
          padding:0 10px; 
      
        }
      }
  }
  &__center{
    width:100%;
    &__index{
      &__contents{
        &__inner{
          border-bottom:1px solid orange;
          display: inline-block;
          width:80%;
          &:hover{
            background-color:#eee;
            transition:0.5s;
          }
          &__name{
            display:inline-block;
            width:40%;
            text-align:center;
            p{
              font-weight: bold;
            }
          }
        }
        btn-delete{
          padding:3px;
          border:2px solid black;
          border-radius:10px;
          display:inline-block;
          a{
            color:black;
            text-decoration: none;
          } 
        }
      }
    }
  }
}

.modal-registe,.modal-logout,.new-modal,.rogin-madal{
  @include border-bottom;
  &::before{
    @include border-bottom-action;
  }
  &:hover::before{
  left:0;
  }
}

.fa-times{
  color:gray;
}

.topbtn{
  position:fixed;
  bottom:40px;
  right:40px;
  color:white;
  width:60px;
  height:60px;
  background-color:lighten(red,3%);
  font-size:30px;
  border-radius: 30%;
  cursor: pointer;
  display:none;
  border:none;
  outline: none;
  opacity:0.8;
  &:hover{
    opacity:1;
    color:orange;
  }
}

.scroll-header{
  width:100%;
  position: fixed;
  top: -70px;
  left: 0;
  background-color:#eee;
  border-bottom:7px solid blue;
  h{
    font-size:40px;
    font-weight: 600;
    float:left;
    margin-left: 60px;
    font-family:fantasy;
  }
  ul{
    text-align: right;
    margin:10px 60px 0 0; 
    li{
      list-style: none;
      display:inline-block;
      font-size:18px;
      font-weight: 600;
      cursor: pointer;
      a{
        color:black;
        text-decoration: none;
      }
    }
  }
}
