@mixin atag{
  color:black;
  text-decoration: none;
}
.index{
  &__header{
    display: inline-block;
    width:100%;
    border-bottom:7px solid orange;
    h{
      font-size:40px;
      font-weight: 600;
      float:left;
      margin-left: 60px;
      font-family: Comic Sans MS;
    }
    ul{
      text-align: right;
      margin:10px 60px 0 0; 
      li{
        list-style: none;
        display:inline-block;
        font-size:18px;
        font-weight: 600;
        cursor: pointer;
        a{
          @include atag;
        }
      }
    }
  }
  &__image{
    background-image:url("IMG_1713.jpeg"); 
    background-size: 100%;
    background-repeat:no-repeat;
    height:300px;
    h{
      font-size:100px;
      color:white;
      font-family:cursive;
      margin-left:30px;
    }
    &__sentence{
      text-align:center;
      margin-top:40px;
      p{
        font-size:20px;
        color:white;
        cursor: pointer;
        border:1px solid white;
        display:inline-block;
        padding:0 15px;
        &:hover{
          padding:0 50px;
          transition:0.5s;
          border:1px solid orange;
        }
      }
    }
  }
  &__center{
    width:100%;
    &__index{
      &__contents{
        text-align: center;
        width:96%;
        margin-bottom:30px;
        &__text{
          p1{
            display: inline-block;
            font-size:30px;
            margin:30px 0;
          }
          p2{
            display: inline-block;
            border-bottom: 5px solid orange;
            font-size:40px;
            margin-left:50px;
          }
          a{
            @include atag;
            padding:0 5px;
            font-size:25px;
            font-weight: bold;
            font-family: cursive;
            &:hover{
              color:orange;
              transition:0.3s;
            }
          }
        }
        &__inner{
          border-bottom:1px solid orange;
          display: inline-block;
          width:96%;
          margin-top:5px;
          &__name{
            display:inline-block;
            width:44.5%;
            text-align:center;
            p{
              font-weight: bold;
            }
          }
          btn-delete{
            display:inline-block;
            border:2px solid #FF6633;
            border-radius:50px;
            padding:2px 10px;
            margin-bottom:2px;
            &:hover{
              background-color:lighten(#FF6633,10%);
              transition:0.3s;
            }
            a{
              @include atag;
            } 
          }
        }
        .paginate{
          margin:20px;
          a{
            @include atag;
            font-size:25px;
            font-weight: bold;
            font-family: cursive;
            &:hover{
              color:orange;
              transition:0.3s;
            }
          }
        }
      }
    }
  }
}

.topbtn{
  display:none;
  position:fixed;
  bottom:70px;
  right:90px;
  width:60px;
  height:60px;
  color:white;
  background-color:lighten(red,3%);
  font-size:30px;
  border-radius: 30%;
  cursor: pointer;
  border:none;
  outline: none;
  opacity:0.8;
  &:hover{
    opacity:1;
    color:orange;
  }
}
.scroll-header{
  width:100%;
  position: fixed;
  top: -70px;
  left: 0;
  background-color:#eee;
  border-bottom:7px solid blue;
  z-index:1;
  h{
    font-size:40px;
    font-weight:600;
    float:left;
    margin-left:60px;
    font-family:fantasy;
  }
  ul{
    text-align: right;
    margin:10px 60px 0 0;
    li{
      list-style: none;
      display:inline-block;
      font-size:18px;
      font-weight: 600;
      cursor: pointer;
      a{
        @include atag;
      }
    }
  }
}
