@mixin atag{
  color:black;
  text-decoration: none;
}
.index{
  &__header{
    display: inline-block;
    width:100%;
    border-bottom:7px solid orange;
    h{
      font-size:40px;
      font-weight: 600;
      float:left;
      margin-left: 60px;
      font-family: Comic Sans MS;
    }
    ul{
      text-align: right;
      margin:10px 60px 0 0; 
      li{
        list-style: none;
        display:inline-block;
        font-size:18px;
        font-weight: 600;
        cursor: pointer;
        a{
          @include atag;
        }
      }
    }
  }
  &__image{
    background-image:url("IMG_1713.jpeg"); 
    background-size: 100%;
    background-repeat:no-repeat;
    height:300px;
    h{
      font-size:100px;
      color:white;
      font-family:cursive;
      margin-left:30px;
    }
    &__sentence{
      text-align:center;
      margin-top:40px;
      p{
        font-size:20px;
        color:white;
        cursor: pointer;
        border:1px solid white;
        display: inline-block;
        padding:0 15px;
        &:hover{
          padding:0 50px;
          transition:0.5s;
          border:1px solid orange;
        }
      }
    }
  }
  &__center{
    width:100%;
    &__index{
      margin:30px;
      &__contents{
        h2{
          font-size:40px;
        }
        &__inner{
          border-bottom:1px solid orange;
          display: inline-block;
          width:96%;
          &:hover{
            background-color:#eee;
            transition:0.5s;
          }
          &__name{
            display:inline-block;
            width:48%;
            text-align:center;
            p{
              font-weight: bold;
            }
          }
        }
        btn-delete{
          padding:3px;
          border:2px solid black;
          border-radius:10px;
          display:inline-block;
          a{
            @include atag;
          } 
        }
      }
    }
  }
}

.topbtn{
  position:fixed;
  bottom:70px;
  right:90px;
  color:white;
  width:60px;
  height:60px;
  background-color:lighten(red,3%);
  font-size:30px;
  border-radius: 30%;
  cursor: pointer;
  display:none;
  border:none;
  outline: none;
  opacity:0.8;
  &:hover{
    opacity:1;
    color:orange;
  }
}

.scroll-header{
  width:100%;
  position: fixed;
  top: -70px;
  left: 0;
  background-color:#eee;
  border-bottom:7px solid blue;
  z-index:1;
  h{
    font-size:40px;
    font-weight: 600;
    float:left;
    margin-left: 60px;
    font-family:fantasy;
  }
  ul{
    text-align: right;
    margin:10px 60px 0 0; 
    li{
      list-style: none;
      display:inline-block;
      font-size:18px;
      font-weight: 600;
      cursor: pointer;
      a{
        @include atag;
      }
    }
  }
}
