@mixin denmoku-modal{
  display: none;
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  &__main{
    background-color: black;
    height:450px;
    width:800px;
    border-left:10px solid gold;
    border-right:10px solid gold;
    margin:0 auto;
    &__header{
      padding:8px 0;
      color:#eee;
      font-size:10px;
      text-align: center;
    }
    &__center{
      border:5px solid silver;
      height:300px;
      width:700px;
      margin:0 auto;
      background-image:url(IMG_1900.png);
      background-size:contain;
      padding-top:5px;
      &__inner{
        margin:10px;
        display:block;
        &__word{
          width:100%;
          margin-bottom:4px;
          h{
            background:green; 
            color:white;
            border-radius: 3px;
            display:inline-block;
            font-family:monospace;
            font-size:21px;
            width:10%;
            box-shadow: 2px 2px silver;
            text-align: center;
            cursor: pointer;
            &:hover{
              transition: 0.3s;
              background-color:lighten(green,10%);
            }
            &:active{
              box-shadow: none;
              position: relative;
              top:2px;
              left:2px;
            }
          }
          h1{
            background: white;
            border-radius: 3px;
            display:inline-block;
            width:86.2%;
            font-size:20px;
            box-shadow: 3px 3px silver;
            padding-left:20px;
          }
        }
      }
    }
    &__footer-upper{
      text-align: right;
      height: 30px;
      margin-top:10px; 
      h{
        color:white;
        margin-right:60px;
        cursor: pointer;
        font-size:20px;
        font-family:monospace;

        &:hover{
          font-size:25px;
          color:red;
          transition: 0.5s;
        }
      }
    }
    &__footer-under{
      height: 100px;
      width: 100%;
      text-align: center;
      h{
        color:white;
        font-size:35px;
        font-family:cursive;
      }
    }
  }
}
.denmoku,.denmoku2{
  @include denmoku-modal;
}
input{
  border:none;
  width: 100%;
  margin:30 0px;
  box-shadow: 3px 3px silver;
  margin-top:8px;
}
.input-human,.input-song{
  padding:10px 0;
  border-radius: 5px;
  outline: none;
  font-weight:bold;
}
.input-title{
  background-color:white;
  width: 100%;
  margin:30 0px;
  box-shadow: 3px 3px silver;
  margin-top:8px;
  padding:10px 0;
  outline: none;
  border:none;
  border-radius: 5px;
}

.input-btn{
  margin:8px 20px;
  padding:3px 0;
  width:80px;
  border-radius:5px; 
  outline: none;
  float:right;
  &:active{
    box-shadow: none;
    position: relative;
    top:3px;
    left:3px;
  }
}

.slide-modal{
  font-size:20px;
  font-family:monospace;
}
.prev-btn{
  cursor: pointer;
  float: left;
  display: none;
  color:white;
  &:hover{
    font-size:21px;
    font-weight:bold;
  }
}
.next-btn{
  cursor: pointer;
  float: right;
  color:white;
  &:hover{
    font-weight: bold;
    font-size:21px;
  }
}
.slide{
  display: none;
}
.active{
  display: block;
}

.inner{
  min-height:200px;
  background: #eee;
  margin-top:30px;
  padding:10px 15px;
  p{
    display: block;
    font-size:45px;
    font-weight: bold;
    text-align: center;
  }
}
